@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

#vgt-table {
  border: none ;
  background-color: #FAFBFC;
}

/* #vgt-table thead tr th {
  border: 1px solid red;
  background-color: red !important;
} */

#vgt-table tbody tr {
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 5px;
  /* border: 12px solid #FAFBFC ; */

}

#vgt-table tbody tr td {
  background-color: white;
}

th {
  background: #FAFBFC !important;
  border: none !important;
  border-bottom: none !important;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid red;
  flex-grow: 1;
}

tbody tr {
  display: flex;
}

tbody tr td {
  flex-grow: 1;
}

thead {
  border: 1px solid red;
}

thead tr {
  display: flex;
}

thead tr th {
  flex-grow: 1;
}